.credit-card-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 32px;
    padding-right: 121px;
    background: linear-gradient(180deg, #CBD5E0C7, #FEEBC8B2);
    border-radius: 28.8px;
    box-shadow: 0px 2px 4px #00000033,
                0px 0px 8px #00000014;
}

.credit-card-hero__content {
    display: flex;
    flex-direction: column;
}

.credit-card-hero__image-container {
        display: flex;
        align-items: center;
        margin-left: 117px;
}

.credit-card-hero__image {
    height: 226px;
}

.credit-card-hero__title {
    color: white;
}

.credit-card-hero__subtitle-container {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.credit-card-hero__subtitle-item {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.credit-card-hero__description {
    margin-bottom: 3px;
}
