.credit-card-hero {
    display: flex;
    padding: 3rem 0 3rem;
    background: linear-gradient(180deg, #CBD5E0C7, #FEEBC8B2);
}

.credit-card-hero__content {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2rem;
    padding-left: 3rem;
}

.credit-card-hero__image-container {
        display: flex;
        align-items: center;
        margin: 0 auto 0 auto;
        padding: 0 3rem 0 3rem;
}

.credit-card-hero__image {
    width: 380px;
    max-width: 100%;
    height: auto;
}

.credit-card-hero__title {
    color: white;
    margin-bottom: 1rem;
}

.credit-card-hero__subtitle-container {
    display: flex;
    gap: 5rem;
}

.credit-card-hero__subtitle-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.credit-card-hero__paragraph {
    margin-bottom: 3px;
}

.credit-card-hero__paragraph:last-child {
    margin-bottom: 0;
}

@media (max-width: 920px) {
  .credit-card-hero__image {
    padding-top: 20px;
    }
  .credit-card-hero {
    flex-direction: column;
    }

.credit-card-hero__content {
    align-items: center;
    padding: 0;
    text-align: center;
    }
}

@media (max-width: 480px) {
  .credit-card-hero__subtitle-container {
    flex-direction: column;
    gap: 1rem;
  }
}