.about-element {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-element__row:nth-child(1) {
    grid-template-columns: repeat(3, 1fr);
}

.about-element__row:nth-child(1)
 .about-element__item:nth-child(even) {
    background-color: #7F92ACB2;
}

.about-element__row:nth-child(2)
 .about-element__item:nth-child(odd) {
    background-color: #7F92ACB2;
}

.about-element__row:nth-child(2) {
    grid-template-columns: repeat(2, 1fr);
}

.about-element__row {
    display: grid;
    gap: 40px;
    justify-content: center;
}

.about-element__item {
    background-color: #EAECEE;
    border-radius: 28px;
    box-shadow: 0px 2px 4px #00000033,
                0px 0px 8px #00000014;
    padding: 32px;
}


.about-element__icon {
    margin-bottom: 24px;
}

