.loan-first-step {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loan-first-step__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.loan-first-step__content--blurred {
    flex: 1;
    filter: blur(2px);
    pointer-events: none; 
    user-select: none;
}

.loan-first-step__content > h2 {
    color: var(--error);
    text-align: center;
}
