.first-step-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    padding: 2rem;
}

.first-step-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.first-step-form__block--row {
    display: flex;
    flex: 1;
}

.first-step-form__block--column {
    display: flex;
    flex-direction: column;
}

.first-step-form__slider {
    min-width: 500px;
    padding-right: 3rem;
    border-right: 2px solid var(--line);
}

.first-step-form__summary {
    padding-left: 3rem;
}

.first-step-form__amount::after {
    position: absolute;
    content: '';
    bottom: -10px;
    left: 0;
    width: calc(100% - 50px);
    height: 1px;
    background-color: var(--line);

}

.first-step-form__amount {
    position: relative;
}

.first-step-form__block-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top:
}