.slider {
    --slider: #5B35D5;

    display: flex;
    flex-direction: column;
    padding: 32px 32px 32px 32px;
    border-radius: 10px;
    border: 1px solid var(--slider);
}

.slider__title {
    margin-bottom: 15px;
}

.slider__input::-webkit-slider-runnable-track {
    height: 2px;
}

.slider__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--slider);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
    position: relative;
}

.slider__labels {
    margin-top: 5px;
    color: #786D6D;
    display: flex;
    justify-content: space-between
}