.input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input__label {
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 500;
}

.input__field {
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: 4px; 
    padding: 0.5rem 0.875rem;
    font-size: 0.875rem;
    transition: all 0.3s ease;
}

.input--required .input__label::after {
    content: '*';
    color: #FF0000;
    margin-left: 5px;
}

