.header a {
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 214px;
    margin-right: 214px;
}

.logo {
    font-size: 24px; 
    color: var(--logo);
    vertical-align: middle;

    /*width: 125px;*/
    /*height: 15px;*/
}

.nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}


.nav__link {
    display: block;
    padding: 10px;
    white-space: nowrap;
    color: var(--nav-link);
}

.nav__link--active {
    color: var(--nav-link-active);
}