header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4375rem 0 0.4375rem;
    font-weight: 700;
}

.header__logo {
    font-size: 1.5rem; 
    color: var(--logo);
}

.nav__list {
    display: flex;
    gap: 2.5rem;
}

.nav__link {
    color: var(--nav-link);
}

.nav__link--active {
    color: var(--nav-link-active);
}