button {
    background-color: var(--button-bg);
    color: white;
    outline: none;
    border: 0;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    font-family: "Ubuntu", sans-serif;
    line-height: 112.00000000000001%;
    letter-spacing: 2%;
}


.button:hover {
    background-color: var(--button-hover);
}

.button:disabled {
    background-color: var(--button-hover);
}

.button--deny {
    background-color: #D93737CC;
}

.button--right-aligned {
  margin-left: auto;
  align-self: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
}