.fourth-step-form {
    padding: 8rem 1rem;
}

.fourth-step-form__document-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.fourth-step-form__document-group h3 {
    font-weight: 500;
}

.fourth-step-form__disclaimer {
  color: #4F5665;
}

.foruth-step-form__submit-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.fourth-step-form .button {
    padding: 0.75rem 3rem;
}

@media (max-width: 480px) {
    .foruth-step-form__submit-group {
        justify-content: center;
    }
}