.form-shell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-shell__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.form-shell--blurred {
    flex: 1;
    filter: blur(2px);
    pointer-events: none; 
    user-select: none;
}

.form-shell > h2 {
    color: var(--error);
    text-align: center;
}