
.tooltip {
    position: relative;
}

.tooltip--visible .tooltip__text {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}

.tooltip__text {
    visibility: hidden;
    position: absolute; top: 120%; left: 50%;
    width: 100%;
    opacity: 0;
    transform: translateX(-50%) translateY(0px);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    
    background-color: #3D3D3D; color: #fff;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    z-index: 1;
}