.second-step-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    padding: 2rem;
}

.second-step-form__wrapper {
    background: white;
    border-radius: 28px;
}

.second-step-form__first-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.second-step-form__first-block-row {
    display: grid;
    gap: 1rem;
}

.second-step-form__first-block-row:nth-child(1) {
    grid-template-columns: repeat(3, 1fr)
}

.second-step-form__first-block-row:nth-child(2) {
    grid-template-columns: repeat(2, 1fr)
}

.second-step-from__second-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.second-step-form .button {
    align-self: flex-end;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 1100px) {
  .second-step-form .input {
    margin-top: auto;
  }
}

@media (max-width: 900px) {
  .second-step-form__first-block-row:nth-child(1) {
    grid-template-columns: repeat(1, 1fr);
  }

  .second-step-form__first-block-row:nth-child(2) {
    grid-template-columns: repeat(1, 1fr);
  }

  .second-step-from__second-block {
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .second-step-form .button {
    align-self: center;
  }
}
